<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/carousel.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Perfect Home</title>
</head>
<body>
    <header>
        <h1>Perfect Home</h1>
        <h2>Find a dog near you now!</h2>
    <nav>

        {{#if logged_inr}}
        <a href="/">Home</a>
        <a href="/profile/{{logged_inr.id}}">profile</a>
        <a href="/breeds/">Find Breed Info</a>
        <a href="/logout">Logout</a>
        {{else}}

        <a href="/">Home</a>
        <a href="/login">Login/Signup</a>


        <a href="/breeds">Find Breed Info</a>
        {{/if}}

    </nav>
    </header>
    <main>
    {{{body}}}



  </main>
</body>


<script src="/js/carousel.js"></script>
</html>