<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Home</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/login">login</a>
        <a href="/profile">profile</a>
        <a href="/logout">logout</a>
        <a href="/create">create new user</a>
    </nav>
    {{body}}
</body>


<script src="js/login.js"></script>
<script src="js/logout.js"></script>
<script src="js/signUp.js"></script>
</html>