<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <title>Perfect Home</title>
</head>
<body>
    <header>
        <h1>Find a perfect pet for your perfect home!</h1>
    <nav>
        <a href="/">home</a>
        <a href="/login">login/signup</a>
        <a href="/profile">profile</a>
        <a href="/logout">logout</a>
        <a href="/create">create new user</a>
        <a href="/breeds">Find Breed Info</a>
    </nav>
    </header>
    <main>
    {{{body}}}


 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script type="text/javascript" src="slick/slick.min.js"></script>
 <script type="text/javascript">
    $(document).ready(function(){
      $('.your-class').slick({
        setting-name: setting-value
      });
    });
  </script>
  </main>
</body>

<script src="js/login.js"></script>
<script src="js/logout.js"></script>
<script src="js/signUp.js"></script>
</html>