<div style="background-color: bisque;">

    <h3>Filter your search results</h3>
    <select  id="searchDropdown">
    <option value="type:Dog">Dogs</option>
    <option value="type:Cats">Cats</option>
    <option value="size:Large">Large pets</option>
    <option value="size:medium">Medium pets</option>
    <option value="size:small">Small pets</option>
    <option value="age:Baby">Baby pets</option>
    <option value="age:Young">Young pets</option>
    <option value="age:Adult">Adult pets</option>
    <option value="age:Senior">Senior pets</option>
    <option value="good_with_children:true">Good with children</option>
    <option value="good_with_dogs:true">Good with dogs</option>
    <option value="good_with_cats:true">Good with cats</option>
    <option value="spayed:true">Spayed/Neutered</option>
    </select>
    <button>Filter</button>
</div>


    {{#each petsdata}}
    <div class="card" style="width: 18rem;">
        <img src="{{image_url}}" class="card-img-top" alt="adoptable pet image">
        <div class="card-body">
            <h5 class="card-title">Name: {{name}}</h5>
            <a href="/adopt/{{id}}" class="btn btn-primary">See More</a>
        </div>
    </div>
    {{/each}}






