<div class="container flex">
    <div class='row'>
<div>
    {{#each petsdata}}
    <div class="card" style="width: 18rem;">
        <img src="{{image_url}}" class="card-img-top" alt="adoptable pet image">
        <div class="card-body">
            <h5 class="card-title">Name: {{name}}</h5>
            <a href="/adopt/{{id}}" class="btn btn-primary">See More</a>
        </div>
    </div>
    {{/each}}
</div>





