
<div class="all">
<form class="breed-info-form" method="GET" >
    <div class="spacing">
        <label id="breed-name">
            Search by Breed Name:         
        </label>
        <input class="form-input" type="text" name="breed" id="breed-info" />
         <button id="dog-breed-btn">Enter</button>
    </div>
</form>
</div>


<script src="/js/dogBreed.js"></script>

