

<form class="breed-info-form" method="GET" >
    <div class="form-group">
        <label id="breed-name">
            Search by Breed Name:         
        </label>
<<<<<<< HEAD

         <div class="grid-x grid-margin-x" id="position" style="margin-top: 15px;">
        <div class="small-12 medium-12 large-3 cell translucent-form-overlay main">
            
            <div>
                <label>Choose your breed:</label>
                <form id="mainForm">
                    <select name="tags" class="select-box">
                        <option value="Labrador Retriever">Labrador Retriever </option>
                        <option value="French Bulldog">French Bulldog</option>
                        <option value="German Shepperd">German Shepperd</option>
                        <option value="Golden Retriever">Golden Retriever</option>
                        <option value="Bulldog">Bulldog</option>
                        <option value="Poodle">Poodle</option>
                        <option value="Beagle">Beagle</option>
                        <option value="Rottweiler">Rottweiler</option>
                    </select>
                  
                    <!-- Added "submit" type to fix API -->
                    <button type="button submit" class="primary button expanded search-button">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <input class="form-input" type="text" id="breed-info" />
         <button class="btn btn-primary" type="submit" id="dog-breed-submit">Enter</button>
=======
        <input class="form-input" type="text" name="breed" id="breed-info" />
         <button class="btn btn-primary" id="dog-breed-btn">Enter</button>
>>>>>>> 51217fb5ea2730eccdc7d0b2915238c986721faf
    </div>

</form>





<script src="/js/dogBreed.js"></script>