

<form class="breed-info-form" method="GET" >
    <div class="form-group">
        <label id="breed-name">
            Search by Breed Name:         
        </label>
        <input class="form-input" type="text" name="breed" id="breed-info" />
         <button class="btn btn-primary" id="dog-breed-btn">Enter</button>
    </div>

</form>





<script src="/js/dogBreed.js"></script>