
<br><br>
<div class="row" id="quiz">
<div class="col-md-6">
    <h5>Take the Survey to see what pet is right for you</h5>
    <a href="/survey">Take Survey</a>
</div>
<div class="col-md-6">
  <h5>Find Pets Near You</h5>
  <a href="#">Adopt</a>
</div>
</div>

<div class="gallery">
  <div class="gallery-container">
    {{!-- {{#each adoptable as |adoptable|}} --}}
    <img class="gallery-item gallery-item-5" src="https://place-puppy.com/300x300">
    <img class="gallery-item gallery-item-1" src="https://place-puppy.com/300x300">
    <img class="gallery-item gallery-item-2" src="https://place-puppy.com/300x300">
    <img class="gallery-item gallery-item-3" src="https://place-puppy.com/300x300">
    <img class="gallery-item gallery-item-4" src="https://place-puppy.com/300x300">
  </div>
  {{!-- {{/each}} --}}
  <div class="gallery-controls"></div>
</div>

<script src="/js/carousel.js"></script>