
<div class="row">
  <div class="spacing col-md-6 col-xl-6">
    <h2>Login</h2>
    <form id="login-form">
      <div >
        <label>Username:</label>
        <input class="form-input" type="text" id="loginUsername" />
      </div>
      <div >
        <label>Password:</label>
        <input class="form-input" type="password" id="loginPassword" />
      </div>
      <div >
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="spacing col-md-6 col-xl-6">
    <h2>Signup</h2>
    <form id="signup-form">
      <div >
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="signupEmail" />
      </div>
       <div >
        <label for="username-signup">Username:</label>
        <input class="form-input" type="username" id="signupUsername" />
      </div>
      <div >
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="signupPassword" />
      </div>
      <div >
        <label for="zipcode-signup">Zipcode:</label>
        <input class="form-input" type="text" id="signupZipcode" />
      </div>
      <div >
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>


<script src="/js/login.js"></script>
<script src="/js/signUp.js"></script>
