<h1>Login page!</h1>

<form id="loginForm">
    <input type="email" name="email" id="loginEmail" placeholder="email">
    <input type="password" name="password" id="loginPassword" placeholder="password">
    <button>Login!</button>
    <script src="js/login.js"></script>
</form>