<div class="container">
<div class="col-md-6 zipcode-form">
<form>
  <label>Enter Zip Code:</label>
  <input class="form-input" type="text" id="zipcode">
  <button class="btn btn-primary" type="submit">Search</button>
</form>
</div>

<div class="col-md-6">
    <h1>Set/reset your preferences by taking the quiz below</h1>
    <a href="/survey">Take Survey</a>
</div>
</div>
