body{
    background: url("https://i.pinimg.com/736x/5f/64/9c/5f649c728fc328958997f3feecbf3a7c.jpg");
  }
  
  header {
    background-color: white;
    text-align: center;
    border: black 2px solid;
  }

  .all {
    background-color: white;
    text-align: center;
    border: black 2px solid;
    padding: 20x;
    margin: 20px;
  }


  #pic-sizing{
    padding: 10px;
    max-height:fit-content;
    width: 600px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .pet-preferences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    border: black 1px solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .spacing {
    margin: 15px auto 15px;
  }

  #pet-preferences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }